/* TODO: design your flexbox layout with a sticky map */

/* We just give you a Gmaps with random width/height */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-grow: 1;
}


@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 414px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.content {
  display: flex;
}


